<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.WordModuleFormatDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.domain.word.model.entity.WordModuleFormatPO">
        <id column="id" property="id" />
        <result column="blod" property="blod" />
        <result column="font_name" property="fontName" />
        <result column="font_color" property="fontColor" />
        <result column="font_size" property="fontSize" />
        <result column="line_spacing" property="lineSpacing" />
        <result column="first_line_indent" property="firstLineIndent" />
        <result column="img_height" property="imgHeight" />
        <result column="img_width" property="imgWidth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, blod, font_name, font_color, font_size, line_spacing, first_line_indent, img_height, img_width
    </sql>

</mapper>
