<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.WordModuleMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="mybatis.entity.WordModuleMsg">
        <id column="id" property="id" />
        <result column="module_value" property="moduleValue" />
        <result column="module_type" property="moduleType" />
        <result column="format_id" property="formatId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_value, module_type, format_id
    </sql>

</mapper>
